#fieldTable th {
    background: rgb(185, 213, 240);

}

#fieldTable td {
    border: none;
}

#fieldTable table {
    border: 1px solid;
}

.style-1 {
    background-color: rgb(202, 216, 243)
}

.style-2 {
    background-color: rgb(233, 233, 224)
}

.headcol {
    position: absolute;
    width: 9.5%;
    left: 1%;
    /* background:#eee;    */
    text-align: center !important;
    padding-top: 10px !important;
}

.fluid-table tr:first-child td {
    font-weight: bold;
    /* background:#fff !important; */
}

.scrollsettings {
    margin-left: 13%;
    width: 1100px;
}